<div>
  <h3>Someone was picked!</h3>
  {{ chosen.full_name }}
  {{ chosen.participation_points }}
  {{ chosen.times_called }}
  <p>Award Points</p>
  <form action="{% url 'award_points' chosen.id %}" method="post">
    {% csrf_token %} {% for point_award in point_awards %}
    <input
      type="radio"
      id="points_{{ point_award.0 }}"
      name="points"
      value="{{ point_award.0 }}"
    />
    <label for="points_{{ point_award.0 }}">{{ point_award.1 }}</label>
    {% endfor %}
    <button type="submit">Award Points</button>
  </form>
</div>
